<h1> Ball So Hard University </h1>



 <div>
   <input type='text' ng-model='newPlayer.name' placeholder='Players Name'>
   <input type='text' ng-model='newPlayer.team' placeholder='Players Team'>
   <input type='text' ng-model='newPlayer.age' placeholder='Players Age'>
   <input type='text' ng-model='newPlayer.salary' placeholder='Players Salary'>

   <button ng-click ='createNewPlayer(newPlayer)'>Button</button>
   </div>

<div ng-repeat='person in players'>
    
  Name: {{person.name}}
  Team: {{person.team}}
  Age: {{person.age}}
  Salary: {{person.salary}}

  <a ui-sref="player({playerID:person.$id})">View Baller</a>
</div>



   <a ui-sref="player">
         <img class ='icons bb' src='http://s8.postimg.org/6tioa37ud/basketball32.jpg'> </a>