<p class="info"> Ball So Hard University is an app I made to use CRUD opperations with Firebase. All the data can be found at https://basketballplayers.firebaseio.com

<h1> Ball So Hard University </h1>

 <div>
   <input type='text' ng-model='newPlayer.name' placeholder='Players Name'>
   <input type='text' ng-model='newPlayer.team' placeholder='Players Team'>
   <input type='text' ng-model='newPlayer.age' placeholder='Players Age'>
   <input type='text' ng-model='newPlayer.salary' placeholder='Players Salary'>

   <button ng-click ='createNewPlayer(newPlayer)'>Button</button>
   </div>
   
   
  

<div ng-repeat='person in players'>
     <table>
  <thead>
    <tr>
      <th>Name:</th>
      <th>Team:</th>
      <th>Age:</th>
      <th>Salary:</th>
      <th>View EM: </th>
    </tr>
  </thead>
  <tbody>
       <tr>
      <td><strong>{{person.name}}</strong></td>
      <td>{{person.team}}</td>
      <td>{{person.age}}</td>
      <td>{{person.salary}}</td>
      <td> <a ui-sref="player({playerID:person.$id})">View Baller</a> </td>
    </tr>
 </tbody>
</table>

  

  
  
</div>



  